.borders {
  border: 1px solid lightgrey;
  height: 320px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-opacity::before {
  background: url("../image/1.png") no-repeat center center;
}

.bg1-opacity::before {
  background: url("../image/2.png") no-repeat center center;
}

.bg2-opacity::before {
  background: url("../image/3.jpg") no-repeat center center;
}

.bg3-opacity::before {
  background: url("../image/4.jpg") no-repeat center center;
}

.bg4-opacity::before {
  background: url("../image/5.jpg") no-repeat center center;
}

.bg-opacity::before, .bg1-opacity::before, .bg2-opacity::before, .bg3-opacity::before, .bg4-opacity::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.6;
  background-size: cover;
  border-radius: 10px;
}

.bg-opacity, .bg1-opacity, .bg2-opacity, .bg3-opacity, .bg4-opacity {
  position: relative;
  background-color: #000;
}

.textshadow1 {
  text-shadow: 5px 5px 10px black;
}