.nav-linkk{
    --bs-nav-tabs-link-active-bg:#6c757d !important;
  
}
@media (max-width: 576px) {



}
@media (min-width: 1200px) {

    
}
.back {
    background-color: #234976;
    border-radius: 10px;
}